:root {
  --color-primary: #ff014f;
  --color-tertiary: #0d1013;
  --background-color: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --color-body: #878e99;
  --color-lightn: #c4cfde;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  margin-inline: 2rem;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "dashboard"
    "resume"
    "opensource";
  position: relative;
}

.dashboard {
  grid-area: dashboard;

}

.resume {
  grid-area: resume;
  margin-top: 2rem;
  border-top: 2px solid var(--color-tertiary);
  margin-bottom: 2rem;
}

.open-source {
  grid-area: opensource;
  background-color: #3EB75E;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
}

.header p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.header span {
  margin-inline: 1rem;
  color: var(--color-lightn)
}

.header span:hover {
  color: var(--color-primary);
}

.scroll-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  padding: 10px;
  right: 15px;
  top: 90%;
  background-color: var(--color-primary);
  border-radius: 50%;
  transform: rotate(180deg);
}